<div class="toc-container">
  <div class="sticky-container">
    <div class="header">Table Of Content</div>
    <%- toc(page.content, { list_number: true }) %>
  </div>
</div>
<style>
  @media (max-width: 1024px) {
    .toc-container {
      display: none;
    }
  }
  .toc-container {
    width: 200px;
    height: auto;
    top: 0;
    font-weight: 900;
    margin-left: 10px;
  }
  .toc-container li {
    list-style: none;
  }
  .toc-container > .sticky-container > ol {
    padding: 15px;
    margin: 0;
  }
  .toc-container .toc-link {
    display: flex;
  }
  .toc-container .toc-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
  }
  .sticky-container {
    position: sticky;
    /* margin-top: 84px; */
    top: 20px;
    border: solid 1px #efefef;
    background: white;
  }
  .toc-container .header {
    background: white;
    padding: 30px 15px;
    height: 24px;
    border-bottom: solid 1px #efefef;
  }
</style>